openapi: 3.0.4
info:
  title: Sentral Data API
  version: 1.0.0
  description: API untuk mengakses data akademik di Fakultas Teknologi Informasi Universitas Andalas.
  contact:
    name: Tim Pengembang API
    email: api.fti@unand.ac.id
    url: https://fti.unand.ac.id/api-support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: http://localhost:3000/
    description: Local Development Server
  - url: https://api.fti.unand.ac.id/
    description: Production Server
  - url: https://sandbox-api.fti.unand.ac.id/
    description: Sandbox Server
paths:
  /auth/register:
    post:
      summary: Registrasi Pengguna Baru
      tags:
        - Authentication
      description: Endpoint untuk mendaftarkan pengguna baru ke dalam sistem.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: user123
                email:
                  type: string
                  example: user123@example.com
                password:
                  type: string
                  example: securepassword
      responses:
        "201":
          description: Pengguna berhasil didaftarkan.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User registered successfully.
                  user:
                    $ref: "#/components/schemas/User"
        "400":
          description: Permintaan tidak valid. Data yang diberikan tidak lengkap atau salah.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Invalid input data.
  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login Pengguna
      description: Endpoint untuk autentikasi pengguna dan mendapatkan token akses.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: user123
                password:
                  type: string
                  example: securepassword
      responses:
        "200":
          description: Berhasil login dan mendapatkan token akses.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Login successful.
                  token:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  user:
                    $ref: "#/components/schemas/User"
        "401":
          description: Gagal autentikasi. Username atau password salah.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Invalid username or password.
  /profile:
    get:
      tags:
        - Profile
      summary: Ambil Profil Pengguna
      description: Endpoint untuk mengambil data profil pengguna yang sudah terautentikasi.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Berhasil mengambil data profil pengguna.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: "#/components/schemas/User"
        "401":
          description: Gagal autentikasi. Token akses tidak valid atau habis masa berlakunya.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Unauthorized access.
    patch:
      tags:
        - Profile
      summary: Perbarui Profil Pengguna
      description: Endpoint untuk memperbarui data profil pengguna yang sudah terautentikasi.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: user123@example.com
                name:
                  type: string
                  example: User Name
      responses:
        "200":
          description: Berhasil memperbarui data profil pengguna.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Profile updated successfully.
                  user:
                    $ref: "#/components/schemas/User"
        "400":
          description: Permintaan tidak valid. Data yang diberikan tidak lengkap atau salah.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Invalid input data.
        "401":
          description: Gagal autentikasi. Token akses tidak valid atau habis masa berlakunya.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Unauthorized access."
  /buildings:
    get:
      tags:
        - Buildings
      summary: Daftar Gedung
      description: Endpoint untuk mengambil daftar gedung yang ada di kampus.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Berhasil mengambil daftar gedung.
          content:
            application/json:
              schema:
                type: object
                properties:
                  buildings:
                    type: array
                    items:
                      $ref: "#/components/schemas/Building"
        "401":
          description: Gagal autentikasi. API token tidak valid atau habis masa berlakunya.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Unauthorized access.
    "post":
      tags:
        - Buildings
      summary: Tambah Gedung Baru
      description: Endpoint untuk menambahkan gedung baru ke dalam sistem.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Gedung A
                abbreviation:
                  type: string
                  example: H
                floors:
                  type: integer
                  example: 4
                build_year:
                  type: integer
                  example: 2010
                type:
                  type: string
                  example: Gedung Kuliah Bersama
      responses:
        "201":
          description: Gedung berhasil ditambahkan.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Building added successfully.
                  building:
                    $ref: "#/components/schemas/Building"
        "400":
          description: Permintaan tidak valid. Data yang diberikan tidak lengkap atau salah.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Invalid input data.
  /buildings/{building_id}:
    get:
      tags:
        - Buildings
      summary: Detail Gedung
      description: Endpoint untuk mengambil detail gedung berdasarkan ID gedung.
      security:
        - bearerAuth: []
      parameters:
        - name: building_id
          in: path
          required: true
          schema:
            type: integer
          description: ID dari gedung yang ingin diambil detailnya.
      responses:
        "200":
          description: Berhasil mengambil detail gedung.
          content:
            application/json:
              schema:
                type: object
                properties:
                  building:
                    $ref: "#/components/schemas/Building"
        "404":
          description: Gedung tidak ditemukan dengan ID yang diberikan.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Building not found.
        "401":
          description: Gagal autentikasi. API token tidak valid atau habis masa berlakunya.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Unauthorized access."
    "patch":
      tags:
        - Buildings
      summary: Perbarui Detail Gedung
      description: Endpoint untuk memperbarui detail gedung berdasarkan ID gedung.
      security:
        - bearerAuth: []
      parameters:
        - name: building_id
          in: path
          required: true
          schema:
            type: integer
          description: ID dari gedung yang ingin diperbarui.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Gedung A
                abbreviation:
                  type: string
                  example: H
                floors:
                  type: integer
                  example: 4
                build_year:
                  type: integer
                  example: 2010
                type:
                  type: string
                  example: Gedung Kuliah Bersama
      responses:
        "200":
          description: Berhasil memperbarui detail gedung.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Building updated successfully.
                  building:
                    $ref: "#/components/schemas/Building"
        "400":
          description: Permintaan tidak valid. Data yang diberikan tidak lengkap atau salah.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Invalid input data.
        "404":
          description: Gedung tidak ditemukan dengan ID yang diberikan.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Building not found.
        "401":
          description: Gagal autentikasi. API token tidak valid atau habis masa berlakunya.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Unauthorized access."
    "delete":
      tags:
        - Buildings
      summary: Hapus Gedung
      description: Endpoint untuk menghapus gedung berdasarkan ID gedung.
      security:
        - bearerAuth: []
      parameters:
        - name: building_id
          in: path
          required: true
          schema:
            type: integer
          description: ID dari gedung yang ingin dihapus.
      responses:
        "200":
          description: Berhasil menghapus gedung.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Building deleted successfully.
        "404":
          description: Gedung tidak ditemukan dengan ID yang diberikan.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Building not found.
        "401":
          description: Gagal autentikasi. API token tidak valid atau habis masa berlakunya.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Unauthorized access."
tags:
  - name: Authentication
    description: Endpoint untuk registrasi, login, dan manajemen profil pengguna.
  - name: Profile
    description: Endpoint untuk mengambil dan memperbarui data profil pengguna.
  - name: Buildings
    description: Endpoint untuk manajemen data gedung di kampus.
  - name: Rooms
    description: Endpoint untuk manajemen data ruangan di gedung kampus.

components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        username:
          type: string
          example: user123
        email:
          type: string
          example: user123@example.com

    Building:
      type: object
      properties:
        id:
          type: integer
          example: 10
        name:
          type: string
          example: Gedung A
        abbreviation:
          type: string
          example: H
        floors:
          type: integer
          example: 4
        build_year:
          type: integer
          example: 2010
        type:
          type: string
          example: Gedung Kuliah Bersama
    Room:
      type: object
      properties:
        id:
          type: integer
          example: 101
        building_id:
          type: integer
          example: 10
        name:
          type: string
          example: H1.1
        abbreviation:
          type: string
          example: H1.1
        floor:
          type: integer
          example: 1
        number:
          type: string
          example: 10
        capacity:
          type: integer
          example: 40
        size:
          type: integer
          example: 60
        location:
          type: string
          example: Lantai 1, Gedung H
        public:
          type: integer
          example:
        status:
          type: integer
          example: 1
        availability:
          type: integer
          example: 1
        type:
          type: string
          example: Kelas
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiToken:
      type: apiKey
      in: header
      name: X-API-KEY
